#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/dpatch.mk
DEB_CONFIGURE_EXTRA_FLAGS := --enable-arts --enable-esd

common-install-impl::
	lrelease qterm/po/qterm_chs.ts -qm $(CURDIR)/debian/qterm/usr/share/qterm/po/qterm_chs.qm
	lrelease qterm/po/qterm_cht.ts -qm $(CURDIR)/debian/qterm/usr/share/qterm/po/qterm_cht.qm

cleanbuilddir/qterm::
	rm -f subdirs

unpatch: deapply-dpatches
